.Virtual{
    margin-top: 3rem;
    margin-bottom:0rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    align-items: center;
}
.left>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}
.left>:nth-child(2){
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
  
}
.left>p{
    /* border: 1px solid red; */
    
   
    line-break: 5px;
    width: 80%;
}

.left>:nth-child(3){
    font-size: 1.6rem;font-weight: bold;
}
.left>img{
    align-items: center;
    justify-content: center;
    position:absolute;
    width: 10rem;
    height: 10rem;
    bottom: 3rem;
}
.wrapper{
    width: 25rem;
}

@media screen and (max-width:856px)
{
    .Virtual
    {
        
        align-items:center;
        flex-direction:column;
        gap:2rem;
        gap:1rem;
        justify-content:center;
        margin-bottom:2rem;
        margin-top:2rem;
        padding:1rem}
        .Virtual_left__itfdX
        {
            text-align:center
        }
    }
    .Virtual .left>:nth-child(1){
        text-align: center;
    }
    .Virtual .left>:nth-child(2){
        text-align: center;
       
    }
    @media screen and (max-width:640px)
    {
        .Virtual_wrapper__TMFCq
        {
            width:90vw
        }
    }